/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


html {
  font-family: "Rubik",sans-serif;
  line-height: 1; 
  font-weight: 400;
}

.center {
  width: 85%;
  height: 80vh;
  margin: 6.4rem auto;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.header {
  position: relative;
  height: 40%;
  max-width: 100%;
  background-color: #46e1b5;
}


.container {
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
}

.right-items {
  float: right;
}

.btn {
  border: none;
  padding: 0.8rem 1.4rem;
  border-radius: 10px;
  font-weight: 700;
  font-family: inherit;
  color: #2b8a3ea0;
  transition: background-color 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #ebfbee;
}

.container-cards {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 8%;
}

.grid-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.8rem;
}